@page "/overview"

@using Facturation.Shared

@inject HttpClient http

<h1>Chiffre d'Affaires</h1>

@if (ov == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Chiffre actuel : @ov.currentAmountReceived €</p>
    <p>Nombre de Factures : @ov.factures.Count</p>

    <p>Total attendu au @ov.GetMinDeadline() (Échéance la plus proche) : @ov.min_total €. </p>
    <p title="Inclut le total actuellement payé">Total attendu au @ov.GetMaxDeadline() (Échéance la plus éloignée) : @ov.max_total €. </p>
}



@code{
    private Overview ov = null;

    protected override async Task OnInitializedAsync()
    {
        ov = await http.GetFromJsonAsync<Overview>("api/overview");
    }
}